<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lancements</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <!-- Search bar -->
    <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list> -->
  <!-- End search bar -->

  <div *ngFor="let launch of launches">
    <ion-card *ngIf="launch.details != null">
      <ion-card-content>
        <ion-card-title>
          {{launch.mission_name}}
        </ion-card-title>
        <img src="{{launch.links.mission_patch_small}}"/>
        <p>
         
          {{ (launch.details | slice:0:50)  }}
          <a (click)='getLaunch(launch.flight_number)'>Lire la suite</a>
        </p>
  

        <ion-row no-padding>
          <ion-col text-right>
              <button (click)="getLaunch(launch.flight_number)" ion-button clear small color="danger" icon-start>
                <ion-icon name='md-eye'></ion-icon>
                Détails
              </button>
            </ion-col>
          <ion-col>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='star'></ion-icon>
              Favoris
            </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>