page-launch-list {

}

.card-ios
{
  background-color: rgba(0,0,0,0.4);
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 8px 5px 5px rgba(255,255,255,0.1);
}

.card-ios p
{
  color:rgba(255,255,255,0.8);
}

.card-ios a

{
  color:white;
  font-weight: bold;
}

.button-clear.button-clear
{
  color: #f53d3d;
  font-weight: bold;
}
