<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

   <!-- <pre *ngIf="info">{{ info | json}}</pre> -->
<ion-content class="card-background-page">
   <ion-card class="customborder"  *ngIf="info">  
    <img src="assets/imgs/spacex.jpg"/>
    <div class="card-title">{{ info.name }}</div>
    <!-- <div class="card-subtitle">{{ info.founder }}</div> -->
    
    <div (click)="nextLaunch()" class="card-subtitle">Prochain lancement dans {{ jours }} j {{ heures }} h {{ minutes }} m {{ secondes }} s </div>
  </ion-card>

  <ion-card *ngIf="info">
    <ion-card-content>
      {{ info.summary }}
    </ion-card-content>
  </ion-card>

</ion-content>