<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Prochain lancement</ion-title>
    </ion-navbar>
  </ion-header>
  
  
 
  <ion-content class="card-background-page">
      <!-- <pre *ngIf="launch">{{ launch | json}}</pre> -->

      <ion-card  *ngIf="launch">  
       <img src="assets/imgs/spacex.jpg"/>
       <div class="card-title">{{ jours }} j {{ heures }} h {{ minutes }} m {{ secondes }} s</div>
      
       <div class="card-subtitle">{{ launch.mission_name }} </div>
     </ion-card>
   
     <ion-card *ngIf="launch">
       <ion-card-content>
        <p>{{ launch.details }}</p>
        <p>le {{ launch.launch_date_local | date: 'dd/MM/yyyy H:mm' }}</p>
        <p>{{ launch.launch_site.site_name_long}}</p>
       </ion-card-content>
     </ion-card>
     <ion-card *ngIf="launch">
        <ion-card-content>
          <h2> Détails sur la rocket </h2>
          <p>{{ launch.rocket.rocket_name }}</p>
        </ion-card-content>
      </ion-card>
   
   </ion-content>

   